<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

    <title>Alice's Packet Analyzer</title>   

</head>
<body>
    <div>
        <h2>Alice's Packet Analyzer</h2>

        <h4 id="urldisplay"><u> url </u></h4>
        <script>
            console.log(window.location.search);
            url = window.location.search.split('=');
            localStorage.setItem("passedUrl", url[1]);
            document.getElementById("urldisplay").innerHTML = '<u>' + url[1] +'</u>';
        </script>
    </div>
    <br>

    <p class="welcome">
        Select how you want to view the packets for the url.
    </p>
    <table>
        <form action="{{url_for('encrypted')}}">
            <tr><button>Encrypted</button></tr>
        </form>
        <form action="{{url_for('decrypted')}}">
            <tr><button>Decrypted</button></tr>
        </form>  
        <form action="{{url_for('verbose')}}">
            <tr><button>Verbose</button></tr>
        </form>

    </table>

</body>
</html>