<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

</head>
<body>

    <title>Alice's Packet Analyzer</title>   

    <div>
        <h2>Alice's Packet Analyzer</h2>
        <h4><u> Get your packets! </u></h4>
    </div>

    <br>

    <p class='welcome'>
        Welcome to <b>Alice's Packet Analyzer</b>! Please type in a <u>url</u> in the search box below to get the various packets and protocols for that particular site! 
        <br><br>
        <b><em>Note:</em></b> full urls work better such as <u>"https://www.google.com"</u> instead of <u>"google.com"</u>.
    </p>

    <div>
        <form method="get" action="/details">
            <input class="search" type="text" id="url" name="url"> 
            <input class="submit" type="submit"> 
        </form>

        <!--
        <script>
            console.log(document.getElementById('url').value)
            localStorage.setItem("passedUrl", document.getElementById('url').value)
        </script>
        -->
    </div>

</body>
</html>